* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7477BF;
    padding: 5px;
    color: lightgrey;

    display: grid;
    grid-template-columns: 45% 25% 30% ;
    grid-template-areas: "appName notify username";
    align-items: center;

    h1,
    img,
    p {
        background-color: #7477BF;
    }

    h1 {
        grid-area: appName;
        font-size: 1.8em;
    }
    
    #notify {
        height: 2.4em;

        grid-area: notify;
        justify-self: center;
    }

    #profile_pic {
       display: none;
    }

    #username {
        grid-area: username;
        font-size: 1.1em;

    }
}

nav {
    background-color: #4D4C72;
    padding: 5px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

    img {
        background-color: #4D4C72;
    }
    
}

img {
    height: 2.4em;
    width: 2.4em;
}

section {
    padding: 10px 5px 10px 10px;
    padding-bottom: 25px;
    border-bottom: 1px solid lightgrey;
}

#search {
    margin-bottom: 10px;
    padding: 12px 5px 12px 12px;
    width: 98%;
    background-image: url(../icons/icon-magnifying-glass.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right;
    
    //adjust padding to right side of search icon 
    background-origin: content-box;
}

#traffic_section {
    
    #chart_frequency {
        display: flex;
        padding-bottom: 5px;
        justify-content: center;
       
        a {
            padding: 10px;
            margin-right: 10px;
        }
    }
}

#socials {
    
    .social {
        display: grid;
        grid-template-columns: 75px 150px auto;
        font-size: 28px;
        // justify-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        
        &:not(:last-child) {
            border-bottom: 1px solid lightgrey;
        }

        div {
            display: grid;
            justify-items: center;
            align-items: center;

            border-radius: 50%;
            background-color: #7477BF;
            width: 55px;
            height: 55px;

            svg {
                width: 50%;
                
                .svg_path {
                    fill: white;
                }
            }
        }
    }    
}

#new_members {

    .new_member {
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: repeat(3, 25px);
        grid-template-areas: "user_pic member_name"
                             "user_pic email"
                             "user_pic member_date";
        align-items: center;

        padding: 10px;       

        img {
            grid-area: user_pic;
            border-radius: 50%;
        }

        p.member_name {
            grid-area: member_name;
            font-size: 1.1em;
        }

        a {
            grid-area: email;
            font-size: 1.1em;
        }

        p.member_date {
            grid-area: member_date;
            font-size: 1.1em;
        }

    }
}

#recent_activities {
    
    .recent_activity {
        display: grid;
        grid-template-columns: 50px auto;
        grid-template-rows: repeat(3, 25px);
        grid-template-areas: "user_pic user_post"
                             "user_pic user_post"
                             "user_pic posted_time";
        
        align-items: center;

        padding: 10px;
        
    }

    img {
        grid-area: user_pic;
        border-radius: 50%;
    }

    .post {
        grid-area: user_post;
        font-size: 1.1em;
        
    }
    
    .posted {
        grid-area: posted_time;
        font-size: 1.1em;
    }
}

#msg_user {

    input,
    textarea,
    button {
        padding: 10px 15px;
        border-radius: 5px;
        margin-bottom: 15px;
    }

    #search_user {
        width: 97%;
        margin-top: 15px;
    }

    button {
        display: block;
        width: 97%;
        background-color: #7477BF;
        color: white;
        font-weight: bolder;
    }
}

#settings {
    padding: 10px;

    h3{
        margin-bottom: 10px;
    }

    label,
    select {
        display: inline-block;
        margin-bottom: 10px ;
    }

    // Outer Outline => slider
    input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        position: relative;
        border: 1px solid lightgrey;
        width: 75px;
        height: 27px;
        border-radius: 25px;
        padding: 2px;

        // Inner Element - Circle => slider
        &:before {
            content: "";
            text-transform: uppercase;
            font-size: 1em;
            
            
            display: block;
            position: absolute;
            z-index: 2;
            width: 18px;
            height: 18px;
            background: #7477BF;
            border: 2px solid lightgrey;
            border-radius: 50%;
            font-weight: bold;
            word-spacing: 10px;
            color: #aaa;
            transition: color 1.5s ease-in-out, background-color 1.5s ease-in-out;
            
        }
        
        //On Position => slider 
        &:checked {
            background-color: #7477BF;
            color: white;
            transition: color 1.5s ease-in-out, background-color 1.5s ease-in-out;

            &:before {
                left: 49px;
                background-color: white;
                
            }
        }     
    }
}

.white {
    color: white;
}

.alert {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    background-color: #7477BF;
    color: lightgrey;
}

.close {
    float: right;
}
